[{:db/ident :request/uri
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :request/query-params
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :request/body
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :response/status
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :response/headers
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :response/body
  :dte/valueType :data/edn
  :db/cardinality :db.cardinality/one}

 {:db/ident :exchange/request
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :exchange/response
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}
]
